/* resultados.css */

/* Wrapper for centering the content */
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00154f;
  }
  
  .container-resultados {
    background-color: white;
    border-radius: 15px;
    width: 700px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-resultados img {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .container-resultados p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #00c18c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00a375;
  }
  