@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.texto{
    margin: 15%;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.login {
    display: flex;
    background-color: #04043C;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    align-items:center ;
}



.logo {
    width: 30%; /* Ajusta o tamanho da imagem */
    height: auto;
    min-height: 60%;
    min-width: 60%;
    margin-left: 20%;  /* Garante que a imagem esteja centralizada horizontalmente */
    padding: 10%
}